/* Reset and basic styles */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }